apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kite
  namespace: argocd
  annotations:
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  destination:
    namespace: kite
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kite
    repoURL: https://zxh326.github.io/kite
    targetRevision: '*'
    helm:
      values: |
        ingress:
          enabled: false
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
